<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjinyao.xcloud.admin.mapper.SysRoleDataPermissionMapper">

    <resultMap id="sysRoleDataPermissionMap" type="com.xjinyao.xcloud.admin.api.entity.SysRoleDataPermission">
        <id property="id" column="id"/>
        <result property="dimension" column="dimension"/>
        <result property="identifierValue" column="identifier_value"/>
        <result property="roleId" column="role_id"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>
