<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjinyao.xcloud.admin.mapper.SysSequenceMapper">

    <resultMap id="sysSequenceMap" type="com.xjinyao.xcloud.admin.api.entity.SysSequence">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="currentvalue" column="currentValue"/>
        <result property="increment" column="increment"/>
        <result property="version" column="version"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="getSequenceNum" resultType="java.lang.String">
        SELECT nextval(#{name})
    </select>
</mapper>
