<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjinyao.xcloud.area.mapper.AreaMapper">

    <resultMap id="areaMap" type="com.xjinyao.xcloud.area.entity.Area">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="parentId" column="parent_id"/>
        <result property="parentCode" column="parent_code"/>
        <result property="level" column="level"/>
        <result property="name" column="name"/>
        <result property="pname" column="pname"/>
        <result property="pinyin" column="pinyin"/>
        <result property="pinyinShort" column="pinyin_short"/>
        <result property="firstChar" column="first_char"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="zipCode" column="zip_code"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="version" column="version"/>
    </resultMap>
</mapper>
